<div class="vehicleList">
    <div class="main">
        <mat-drawer-container class="example-container">
            <mat-drawer #drawer class="sideNav" mode="side" opened>
                <div class="sideHeader">
                    <div class="sideHeaderR1">
                        <mat-icon class="text-white">filter_alt</mat-icon>
                        <h5>Filter</h5>
                    </div>
                    <div class="sideHeaderR2">
                        <ng-container *ngIf="hasActiveFilter;Else activeArrow">
                            <div class="resetBtn" (click)="clearAllFilters()">Reset</div>
                        </ng-container>
                        <ng-template #activeArrow>
                            <div class="sideFilterArrowIcon" (click)="drawer.toggle(); toggleSideBar()">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </div>
                        </ng-template>

                    </div>
                </div>
                <div class="sideMiddle px-3 py-2">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel class="mb-4" expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>TYPE</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="filter-content-heading">Select Type</div>
                            <mat-selection-list #vehicleTypeSelect (selectionChange)="onVehicleTypeChange($event)">
                                <mat-list-option checkboxPosition="before" value="Truck">Truck</mat-list-option>
                                <mat-list-option checkboxPosition="before" value="Trailer">Trailer</mat-list-option>
                                <mat-list-option checkboxPosition="before" value="Container">Container</mat-list-option>
                            </mat-selection-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="mb-4" expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title> FLEETS </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="filter-content-heading">Select Type</div>
                            <mat-selection-list (selectionChange)="onFleetChange($event)" #fleetSelect>
                                @for (option of fleetNameList ; track option) {
                                <mat-list-option checkboxPosition="before" [value]="option">{{option}}</mat-list-option>
                                }
                            </mat-selection-list>
                        </mat-expansion-panel>

                        <mat-expansion-panel class="mb-4" expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>FUEL TYPE</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="filter-content-heading">Select Type</div>
                            <mat-selection-list (selectionChange)="onFuelTypeChange($event)" #fuelTypeSelect>
                                @for (option of fuelTypes ; track option) {
                                <mat-list-option checkboxPosition="before" [value]="option">{{option}}</mat-list-option>
                                }
                            </mat-selection-list>

                        </mat-expansion-panel>

                        <mat-expansion-panel class="mb-4" expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>PLATE TYPE</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="filter-content-heading">Select Type</div>
                            <mat-selection-list (selectionChange)="onPlateTypeChange($event)" #plateTypeSelect>
                                @for (option of plateTypes ; track option) {
                                <mat-list-option checkboxPosition="before" [value]="option">{{option}}</mat-list-option>
                                }
                            </mat-selection-list>

                        </mat-expansion-panel>

                        <mat-expansion-panel class="mb-4" expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>OWNERSHIP STATUS</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="filter-content-heading">Select Type</div>
                            <mat-radio-group [(ngModel)]="selectedOwnershipStatus" (change)="onOwnershipStatus($event)" #ownerShipStatusOptionSelect>
                                <mat-radio-button class="px-3" value="owned">
                                    Owned
                                </mat-radio-button> <br />
                                <mat-radio-button class="px-3" value="leased">
                                    Leased
                                </mat-radio-button> <br />
                                <mat-radio-button class="px-3" value="rented">
                                    Rented
                                  </mat-radio-button>
                            </mat-radio-group>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="sideFooter px-2">
                    <button mat-raised-button [disabled]="!hasActiveFilter" class="w-100" (click)="ApplyFilter()">Apply</button>
                </div>
            </mat-drawer>
            <mat-drawer-content class="sideContent pe-2" [ngClass]="isOpened ? 'ps-2' : 'ps-4'">
                <ng-container *ngIf="!isOpened">
                    <div class="sideContentToggleBtn mat-elevation-z3" (click)="drawer.toggle(); toggleSideBar()">
                        <span [innerHtml]="'filter' | icon"></span>
                    </div>
                </ng-container>
                <div class="page-header">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <div class="d-flex align-items-center vehicleBorder py-2">
                                <h2 class="m-0">Vehicles</h2>
                                <div class="ms-3 me-5">
                                    <mat-form-field class="example-full-width">
                                        <input placeholder="Search Vehicles" type="text" [(ngModel)]="searchValue"
                                            (keyup)="tableSearching(search.value)" matInput #search>
                                        <button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear"
                                            (click)="search.value = '';pageRefresh('searchReset')">
                                            <span class="material-icons">close</span>
                                        </button>
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="d-flex gap-3">
                                <div class="countBox ms-5">
                                    <div>Trucks</div>
                                    <div class="primary-text">{{TruckCount}}</div>
                                </div>
                                <div class="countBox">
                                    <div>Trailers</div>
                                    <div class="primary-text">{{TrailerCount}}</div>
                                </div>
                                <div class="countBox">
                                    <div>Containers</div>
                                    <div class="primary-text">{{ContainerCount}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex justify-content-end align-items-center">
                                <button mat-raised-button cdkMenuItem [cdkMenuTriggerFor]="menu">Create</button>
                                <button mat-mini-fab class="primary-fab-btn ms-3">
                                    <mat-icon>sync</mat-icon>
                                </button>
                                <ng-template #menu>
                                    <div class="example-menu" cdkMenu>
                                        <button class="example-menu-item" cdkMenuItem routerLink="create-truck">Create
                                            Truck</button>
                                        <button class="example-menu-item" cdkMenuItem routerLink="create-trailer">Create
                                            Trailer</button>
                                        <button class="example-menu-item" cdkMenuItem
                                            routerLink="create-container">Create Container</button>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <section class="example-container mat-elevation-z8" tabindex="0">
                        <table mat-table [dataSource]="dataSource">

                            <!-- Name Column -->
                            <ng-container matColumnDef="Name" sticky>
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell class="primary-text" *matCellDef="let element">
                                    {{element.VehicleName}} <br />
                                    <span
                                        class="text-secondary text-capitalize fst-italic">{{element.VehicleType}}</span>
                                </td>
                            </ng-container>

                            <!-- Fleet Column -->
                            <ng-container matColumnDef="Fleet">
                                <th mat-header-cell *matHeaderCellDef> Fleet </th>
                                <td mat-cell *matCellDef="let element"> {{element.searchFleet}} </td>
                            </ng-container>

                            <!-- Unit Number Column -->
                            <ng-container matColumnDef="Unit Number">
                                <th mat-header-cell *matHeaderCellDef> Unit Number </th>
                                <td mat-cell *matCellDef="let element"> {{element.unitNumber}} </td>
                            </ng-container>

                            <!-- Modal Year Column -->
                            <ng-container matColumnDef="Modal Year">
                                <th mat-header-cell *matHeaderCellDef> Modal Year </th>
                                <td mat-cell *matCellDef="let element"> {{element.modelYear}} </td>
                            </ng-container>

                            <!-- Operational Status Column -->
                            <ng-container matColumnDef="Operational Status">
                                <th mat-header-cell *matHeaderCellDef> Operational Status </th>
                                <td mat-cell *matCellDef="let element"> {{element.operationalStatus}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <tbody>
                                <ng-container>
                                    <ng-container matColumnDef="noDataFound">
                                        <td mat-cell *matFooterCellDef colspan="8">

                                            <p class="text-center mt-4">
                                                No Data Found...
                                            </p>
                                        </td>
                                    </ng-container>
                                    <tr mat-footer-row *matFooterRowDef="['noDataFound']" [hidden]="isDataFound">
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </section>
                    <div class="pagination-wraper">
                        <ng-container>
                            <app-custom-pagination [moduleName]="'Fleets'" [totalRecords]="length" [length]="length"
                                (change)="paginationChange($event)"></app-custom-pagination>
                        </ng-container>
                    </div>
                </div>
            </mat-drawer-content>

        </mat-drawer-container>
    </div>
</div>